<footer id="footer" class="footer">
  <div class="footer-container">
    <div class="footer-logo">
      <img src="assets/image/brand-logo.png">
    </div>
    <div class="footer-about">
      <h2>About Us</h2>
      <p>We believe that knowledge should not be limited to certain boundaries.</p>
    </div>
    <div class="footer-sociol">
      <h2>Reach Us</h2>
      <div class="social-icons">
        <a>F</a>
        <a>T</a>
        <a>I</a>
        <a>P</a>
        <a>G</a>
        <a>L</a>
        <a>T</a>
      </div>
    </div>
  </div>
  <div class="footer-container">
    <a>Contact Us</a>
    <a>Term & condition</a>
  </div>
</footer>