.projects{
    display: flex;
    width: 100%;
    margin-bottom: 1rem;
    justify-content: space-between;
    flex-wrap: wrap;
}
.project-image{
    flex-basis: 29%;
    height: 13rem;
    box-shadow: 0 0 10px #555;
}