<mat-progress-bar mode="indeterminate" *ngIf="isLoad"></mat-progress-bar>
<section [ngClass]="{'disable':isLoad}">
  <mat-card class="my-card">
    <mat-card-header>
      <span><strong>Note:</strong>You can Upload jpeg,jpg,png</span>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="uploadProject">
        <mat-grid-list cols="2" rowHeight="4.5rem" gutterSize="1rem">
          <mat-grid-tile>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Project Name</mat-label>
              <input matInput placeholder="Project Name" formControlName="name">
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Location</mat-label>
              <input matInput placeholder="Location..." formControlName="location">
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Institute/Firm</mat-label>
              <input matInput placeholder="Institute/Firm" formControlName="institute">
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Area</mat-label>
              <input matInput placeholder="Area" formControlName="area">
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Project Year</mat-label>
              <input matInput type="number" placeholder="Project Year" formControlName="year">
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="outline" class="full-width">
              <!-- <mat-label>Project Type</mat-label>
            <input matInput placeholder="Area" formControlName="area"> -->
              <mat-select placeholder="Project Type" formControlName="type">
                <mat-option *ngFor="let category of categories" [value]="category">
                  {{category}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
      </form>
      <mat-vertical-stepper [linear]="true" #stepper>
        <mat-step [stepControl]="sitePlan">
          <form [formGroup]="sitePlan">
            <ng-template matStepLabel>Site Plan</ng-template>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>SitePlan</mat-label>
              <textarea matInput placeholder="Siteplan Description" formControlName="siteplandescription"></textarea>
            </mat-form-field>
            <div>
              <mat-label>Add Images Here</mat-label><br /><br />
              <button mat-fab color="primary" (click)="siteplan.click()">
                <mat-icon>add</mat-icon>
              </button>
              <input hidden type="file" accept="image/*" multiple #siteplan (change)="add($event.target.files,siteplanImages)">
              <br /><br />
              <mat-spinner *ngIf="isImageLoad"></mat-spinner>
              <div class="images" *ngIf="siteplanImages.length!=0&&!isImageLoad">
                <div class="image" *ngFor="let image of siteplanImages;let index=index">
                  <img [src]="image.url" height="100%">
                  <button mat-mini-fab color="primary" (click)="removeImage(siteplanImages,index)">
                    <mat-icon>remove</mat-icon>
                  </button>
                </div>
              </div>
            </div>
            <br />
            <div>
              <button mat-raised-button matStepperNext color="accent">Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="floorPlan">
          <form [formGroup]="floorPlan">
            <ng-template matStepLabel>Floor Plan</ng-template>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Floor Plan</mat-label>
              <textarea matInput placeholder="Floor Description" formControlName="floorplanDescription"></textarea>
            </mat-form-field>
            <div>
              <mat-label>Add Images Here</mat-label><br /><br />
              <button mat-fab color="primary" (click)="floorplan.click()">
                <mat-icon>add</mat-icon>
              </button>
              <input hidden type="file" accept="image/*" multiple #floorplan (change)="add($event.target.files,floorplanImages)">
              <br /><br />
              <mat-spinner *ngIf="isImageLoad"></mat-spinner>
              <div class="images" *ngIf="floorplanImages.length!=0&&!isImageLoad">
                <div class="image" *ngFor="let image of floorplanImages">
                  <img [src]="image.url" height="100%">
                  <button mat-mini-fab color="primary" (click)="removeImage(floorplanImages,index)">
                    <mat-icon>remove</mat-icon>
                  </button>
                </div>
              </div>
            </div>
            <br />
            <div>
              <button mat-raised-button matStepperPrevious color="accent">Back</button>
              &nbsp;
              <button mat-raised-button matStepperNext color="accent">Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="elevationPlan">
          <form [formGroup]="elevationPlan">
            <ng-template matStepLabel>Elevation Plan</ng-template>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Elevation Plan</mat-label>
              <textarea matInput placeholder="Elevation Description" formControlName="elevationplanDescription"></textarea>
            </mat-form-field>
            <div>
              <mat-label>Add Images Here</mat-label><br /><br />
              <button mat-fab color="primary" (click)="elevation.click()">
                <mat-icon>add</mat-icon>
              </button>
              <input hidden type="file" accept="image/*" multiple #elevation (change)="add($event.target.files,elevationplanImages)">
              <br /><br />
              <mat-spinner *ngIf="isImageLoad"></mat-spinner>
              <div class="images" *ngIf="elevationplanImages.length!=0&&!isImageLoad">
                <div class="image" *ngFor="let image of elevationplanImages">
                  <img [src]="image.url" height="100%">
                  <button mat-mini-fab color="primary" (click)="removeImage(elevationplanImages,index)">
                    <mat-icon>remove</mat-icon>
                  </button>
                </div>
              </div>
            </div>
            <br />
            <div>
              <button mat-raised-button matStepperPrevious color="accent">Back</button>
              &nbsp;
              <button mat-raised-button matStepperNext color="accent">Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="sectionPlan">
          <form [formGroup]="sectionPlan">
            <ng-template matStepLabel>Section Plan</ng-template>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Section Plan</mat-label>
              <textarea matInput placeholder="Section Description" formControlName="sectionplanDescription"></textarea>
            </mat-form-field>
            <div>
              <mat-label>Add Images Here</mat-label><br /><br />
              <button mat-fab color="primary" (click)="section.click()">
                <mat-icon>add</mat-icon>
              </button>
              <input hidden type="file" accept="image/*" multiple #section (change)="add($event.target.files,sectionplanImages)">
              <br /><br />
              <mat-spinner *ngIf="isImageLoad"></mat-spinner>
              <div class="images" *ngIf="sectionplanImages.length!=0&&!isImageLoad">
                <div class="image" *ngFor="let image of sectionplanImages">
                  <img [src]="image.url" height="100%">
                  <button mat-mini-fab color="primary" (click)="removeImage(sectionplanImages,index)">
                    <mat-icon>remove</mat-icon>
                  </button>
                </div>
              </div>
            </div>
            <br />
            <div>
              <button mat-raised-button matStepperPrevious color="accent">Back</button>
              &nbsp;
              <button mat-raised-button matStepperNext color="accent">Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="view3d">
          <form [formGroup]="view3d">
            <ng-template matStepLabel>view/3d</ng-template>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>view/3d</mat-label>
              <textarea matInput placeholder="view3d Description" formControlName="view3dDescription"></textarea>
            </mat-form-field>
            <div>
              <mat-label>Add Images Here</mat-label><br /><br />
              <button mat-fab color="primary" (click)="view.click()">
                <mat-icon>add</mat-icon>
              </button>
              <input hidden type="file" accept="image/*" multiple #view (change)="add($event.target.files,view3dImages)">
              <br /><br />
              <mat-spinner *ngIf="isImageLoad"></mat-spinner>
              <div class="images" *ngIf="view3dImages.length!=0&&!isImageLoad">
                <div class="image" *ngFor="let image of view3dImages">
                  <img [src]="image.url" height="100%">
                  <button mat-mini-fab color="primary" (click)="removeImage(view3dImages,index)">
                    <mat-icon>remove</mat-icon>
                  </button>
                </div>
              </div>
            </div>
            <br />
            <div>
              <button mat-raised-button matStepperPrevious color="accent">Back</button>
              &nbsp;
              <button mat-raised-button matStepperNext color="accent">Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          You are now done.
          <div>
            <button mat-raised-button matStepperPrevious>Back</button>
            &nbsp;
            <button mat-raised-button [disabled]="uploadProject.invalid" (click)="submitProject()">Submit</button>
            &nbsp;
            <button mat-raised-button (click)="stepper.reset()">Reset</button>
          </div>
        </mat-step>
      </mat-vertical-stepper>
    </mat-card-content>
  </mat-card>
</section>