<mat-card>
  <mat-card-content>
      <section id="sidebar">
          <div class="sidebar-header bg-primary">
            <span>Blogs</span>
          </div>
          <div class="sidebar-body">
            <div class="sidebar-content" *ngFor="let blog of blogs|slice:0:3">
              <img [src]="(blog.url | async)" alt="{{blog.img}}"  [attr.src] = "path"/>
              <span>{{blog.title}}</span>
            </div>
            <!-- <div class="sidebar-content">
              <img src="/assets/image/Tulips.jpg" alt="Tulips" />
              <span>Heading</span>
            </div>
            <div class="sidebar-content">
              <img src="/assets/image/Tulips.jpg" alt="Tulips" />
              <span>Heading</span>
            </div> -->
          </div>
        </section>
  </mat-card-content>
</mat-card>