<section id="carousal" appCarousal>
  <div class="carousal-container">
    <a src="#" class="carousal-main-image placholder-bg">
      <img src="assets/image/3239520873274313.jpg">
      <p>Project Name</p>
    </a>
    <div class="carousal-small-images" >
      <a src="#" class="small-image placholder-bg" >
        <img src="assets/image/3239520873274313.jpg">
      </a>
      <a src="#" class="small-image placholder-bg">
        <img src="assets/image/1584659850204582.jpg">
      </a>
      <a src="#" class="small-image placholder-bg">
        <img src="assets/image/Tulips.jpg">
      </a>
    </div>
    <div class="carousal-right-images">
      <a src="#" class="right-image placholder-bg">
        <img src="assets/image/3239520873274313.jpg">
        <p>Project Name</p>
      </a>
      <a src="#" class="right-image placholder-bg">
        <img src="assets/image/3239520873274313.jpg">
        <p>Project Name</p>
      </a>
    </div>
  </div>
</section>