<section id="carousal" >
  <div class="carousal-container" appCarousal>
    <a src="#" class="carousal-main-image placholder-bg">
      <img src="{{projects[0].url}}" alt="{{projects[0].name}}">
      <p>{{projects[0].name}}</p>
    </a>
    <div class="carousal-small-images" >
      <a src="#" class="small-image placholder-bg" *ngFor="let project of projects|slice:0:3" >
        <img src="{{project.url}}" alt="{{project.name}}">
      </a>
    </div>
    <div class="carousal-right-images">
      <a src="#" class="right-image placholder-bg">
        <img src="assets/image/3239520873274313.jpg">
        <p>Project Name</p>
      </a>
      <a src="#" class="right-image placholder-bg">
        <img src="assets/image/3239520873274313.jpg">
        <p>Project Name</p>
      </a>
    </div>
  </div>
</section>