/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;overflow: hidden }
.alternate{
    background: #000;
    color:#fff;
}
.margin{
    width:86%;
    margin:0 auto; 
}
.placholder-bg{
    background: #bdbdbd;
}
.placholder-bg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
a{
    color: #555;
    text-decoration: none;
}
a:hover{
    color: #fa8a11
}
.my-progress-bar{
    margin:0 -8%;
}
.image-fit > img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
@media(max-width:500px){
    .margin{
        width:95%;
    }
    .my-progress-bar{
        margin:0 -2%;
    }
}
.ml-auto{
    margin-left: auto;
}
/* spinner */
.spinner-container{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
}
.spinner-container .spinner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.bg-primary{
    background-color: #fa8a11;
    color: #fff;
}





/* common upload mat -header css */
.disable{
    background-color: rgba(255,255,255,0.5);
}
.disable .my-card{
    z-index: -1;
}
.my-card{
    margin: 1rem;
}
.my-card mat-card-header{
    background-color: #eee;
    margin: -16px -16px 0 !important;
    padding: 16px;
}
.my-card mat-card-content{
    padding-top: 1rem;
}
.my-card .full-width{
    width: 100%;
}
.input-label figure{
    justify-content: flex-start!important;
}
.input-label mat-label{
    background: #bdbdbd;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
}



/* side bar css */
.sidebar-header{
    min-height: 35px;
    width: 100%;
    display: flex;
    padding-left: 0.8rem;
    align-items: center;
    margin-bottom: 1rem;
}
.sidebar-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}
.sidebar-content>img{
    height: 70px;
    width: 50%;
    object-fit: cover;
    object-position: center;
}
.sidebar-content span{
    width: 45%;
}
/* rows */
.row{
    display: flex;
    justify-content: space-between;
}
.col-md-8{
    flex-basis: 78%;
}
.col-md-4{
    flex-basis: 20%;
}
.d-flex{
    display: flex;
    align-items: center;
}
@media(max-width:900px){
    .col-md-8  {
        flex-basis: 100%;
    }
    .col-md-4{
        display: none;
    }
}

/* yellow line */
.yellow-line{
    display: flex;
    border-bottom: 5px solid #fa8a11;
    justify-content: space-between;
}
.yellow-line strong:last-child{
    display: flex;
    align-items: center;
    cursor: pointer;
}